let mapleader=" "
source ~/.vimrc
set clipboard+=ideaput
set surround
set exchange
set highlightedyank
map <leader>f <Action>(ReformatCode)
map <leader>r <Action>(RenameElement)
map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>n <Action>(ReSharperGotoNextErrorInSolution)
map <leader>p <Action>(ReSharperGotoPrevErrorInSolution)
nnoremap Y y$
set ideajoin
set ideastatusicon=gray
